footer {
    margin-top: auto !important;
    margin-bottom: 13rem !important;
}


.social {
    display: flex;

    &__link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;

        mix-blend-mode: screen;

        @media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) { 
            mix-blend-mode: initial;
        }
        
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        font-weight: 300;
        
        margin-right: 3rem;
        padding: 1rem 0;

        opacity: 0.5;
        transition: opacity .2s linear;

        cursor: url('./assets/images/cursor.svg'), auto;

        &:hover {
            opacity: 1 !important;
        }
    }

    &:hover {
        .social__link {
            opacity: .3;
        }
    }
}