:root {
    font-size: 9px;
    font-family: 'acumin-pro', 'serif', 'sans-serif';
    font-display: swap;
    
    @media screen and(min-width: 768px) {
        font-size: 10px;
    }
}

html {
    cursor: url('../img/cursor.svg'), auto;
}

/*
* ==========================================
* HELPERS & RULES
* ==========================================
*/

.bold {
    font-weight: 700;
}

$black      : #000000;
$lightGrey  : #909090;


/*
* ==========================================
* IMPORT
* ==========================================
*/

@import 'intro/layout';
@import 'experience/layout';
@import 'footer/layout';


/*
* ==========================================
* MAIN
* ==========================================
*/

.wrapper {
    max-width: calc(100% - 4rem);    
    margin: 0 auto !important;

    min-height: 100vh;

    display: flex;
    flex-direction: column;

    @media screen and(min-width: 768px) {
        max-width: calc((100% / 12) * 8);
    }
    @media screen and(min-width: 1024px) {
        max-width: calc((100% / 12) * 8);
    }
}

